USE [sti_sys]
GO
/****** Object:  Table [dbo].[tblCompanyInfo]    Script Date: 03/12/2020 13:40:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCompanyInfo](
	[Name] [varchar](50) NOT NULL,
	[Phone] [varchar](15) NULL,
	[Email] [varchar](30) NULL,
	[Address] [varchar](max) NULL,
	[Logo] [varbinary](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
